p {
    font-size: 1em;
}

.navbar {
    transition: 0.2s ease-in-out
}

.card-body {
    position: relative;
}

.card-body .heading .star {
    width: 20%;
}

.card-body .heading .card-title {
    width: 80%;
}

.note-card.yellow {
    background: yellow;
}

.card-body,
.card {
    border-radius: 8px;
}

.fade-in {
    animation: fadein 0.5s forwards cubic-bezier(0, 0.43, 0.14, 1.04);
}

@keyframes fadein {
    0% {
        opacity: 0.2;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

nav {
    transition: 0.3s;
}

#notes {
    overflow-y: auto;
    height: 50vh;
}

.catagory h3 {
    cursor: pointer;
    padding: 1rem;
    color: rgb(58, 58, 43);
}

.catagory h3:nth-child(2) {
    background: yellow;
    color: black;
    border-radius: 8px;
}